@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-title: 'Sriracha', cursive;
    --font-body: 'Srisakdi', cursive;
}

html, body {
    /*min-width: 95vw;*/
    min-height: 100vh;

    font-family: var(--font-body);
}

header {
    background-color: rgb(14, 14, 14);
    color: white;
    text-align: center;

    font-family: var(--font-title);
}

    header h1 {
        padding-top: 20px;
        font-size: 5.5vw;
        font-variant: small-caps;
    }

    header p {
        padding: 10px 0px 30px 0px;
        font-size: 3vw;
    }

    header a {
        text-decoration: none;
        color: white;
    }

    header a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

section p {
    font-size: 4vw;
    line-height: 1.5em;
    padding-bottom: 4vh;
}

section.normal {
    background-color: white;
    color: black;

    padding: 10vh 0px 10vh 40px;
}

section.fundo {
    background-color: rgb(43, 43, 43);
    color: white;
    box-shadow: inset 2px 6px 10px 2px rgba(0, 0, 0, 0.400);

    padding: 10vh 0px 10vh 40px;

    background-size: cover;
    background-attachment: fixed;
}

    section.fundo p {
        background-color: rgba(0, 0, 0, 0.404);

        padding: 10px;

        /*width: fit-content;*/
        display: inline-block;
    }

    section#fundo-1 {
        background-image: url(public/images/background001.jpg);
        background-position: right center;
    }

    section#fundo-2 {
        background-image: url(public/images/background002.jpg);
        background-position: left center;
    }


footer {
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding: 5px;

    justify-content: center;

    display: flex;
    align-items: center;
}

    footer p {
        padding-left: 20px;
    }

    footer a {
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    footer a:hover {
        text-decoration: underline;
    }

    footer img {
        height: 50px;
    }